@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}
body {
   font-family: Roboto, Arial, sans-serif;
   font-size: 14px;
   font-weight: 400;
   background-color: #f0f0f5;
   -webkit-font-smoothing: antialiased;
}
input, button, textarea {
   font-family: Roboto, Arial, sans-serif;
   font-size: 18px;
   font-weight: 400;
}
button {
   cursor: pointer;
}
